
.modalWarp {
  .rowWarp {
    padding: 0px 10px;

    .labelWarp {
      max-width: 100%;
      flex: 0 0 20%;
      flex-grow: 0;
      text-align: right;
      white-space: nowrap;
    }

    .valueWarp {
      flex: 1;
    }
  }

  .formWarp {
    :global(.ant-col-4) {
      max-width: 100%;
      flex: 0 0 20%;
      max-width: 100%;
    }

    :global(.ant-spin-container) {
      overflow: hidden;
    }
  }

  :global(.ant-row-center) {
    margin: 0 !important;
  }

  :global(.ant-checkbox-group) {
    max-height: 200px;
    overflow: auto;

    &::-webkit-scrollbar {
      display: block;
      width: 10px; /* 高宽分别对应横竖滚动条的尺寸 */
      height: 1px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      /* 滚动条里面小方块 */
      border-radius: 10px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: #979797;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      /* 滚动条里面轨道 */
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      background: #ededed;
    }
  }
}