.breadcrumbWrap {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #f6f6f6;

  .title {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .content {
    margin-top: 20px;
    margin-bottom: 0;
  }
}